body{
    margin:0;
    padding:0;
}
.header{
    height:5vh;
    width:100vw;
    background-color: rgb(179,179,179);
}
.header>button{
    color:black;
    background-color:transparent;
    border:none;
    height:5vh;
    width:5vh;
}
.header>button:hover{
    color:white;
    cursor: pointer;
}

.body{
    width:100vw;
    height: 70vh;
    background-image: url(Copy\ of\ Copy\ of\ dsc-ecosystem-banners-linkedin-blue.webp);
    background-size: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.body .logIn{
    width: 90vw;
    height: 60vh;
    background-image: url(caroImage2.jpg);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.body .logIn .headerContent{
    font-size: 2.5rem;
    margin: 0.5em 0 1rem 0;
}
.body .logIn .content{
    margin: 0 0 1rem 0;
    color: rgb(102,102,102);
}
.body .logIn .form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body .logIn .form .inp-account{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
}
.body .logIn .form .inp-account > input{
    padding-left: 2rem;
    /* margin-left:1rem; */
    width:15rem;
    height: 3rem;
    border:none;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgb(179,179,179);
}
.body .logIn .form .inp-account > input:focus{
    outline:none;
}

.body .logIn .form .inp-account .user{
    color:rgb(102,102,102);
    position:absolute;
    margin-left: 1em;
}
/*password*/
.body .logIn .form .inp-password{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
}
.body .logIn .form .inp-password > input{
    padding-left: 2rem;
    /* margin-left:1rem; */
    width:15rem;
    height: 3rem;
    border:none;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgb(179,179,179);
}
.body .logIn .form .inp-password > input:focus{
    outline:none;
}

.body .logIn .form .inp-password .lock{
    color:rgb(102,102,102);
    position:absolute;
    margin-left: 1rem;
}
.body .logIn .form .inp-password .hidden{
    display:none;
    color:rgb(102,102,102);
    position: absolute;
    right:1rem;
    border:none;
    background-color:transparent;
}
.body .logIn .form .inp-password .hidden:hover{
    color:black;
    cursor: pointer;
}
.body .logIn .form .inp-password .figure-out{
    color:rgb(102,102,102);
    position: absolute;
    right:1rem;
    border:none;
    background-color:transparent;
}
.body .logIn .form .inp-password .figure-out:hover{
    color: black;
    cursor: pointer;
}
/* end password */
/*re-inp-password*/
.body .logIn .form .re-inp-password{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
}
.body .logIn .form .re-inp-password > input{
    padding-left: 2rem;
    /* margin-left:1rem; */
    width:15rem;
    height: 3rem;
    border:none;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgb(179,179,179);
}
.body .logIn .form .re-inp-password > input:focus{
    outline:none;
}

.body .logIn .form .re-inp-password .lock{
    color:rgb(102,102,102);
    position:absolute;
    margin-left: 1rem;
}
.body .logIn .form .re-inp-password .hidden{
    display:none;
    color:rgb(102,102,102);
    position: absolute;
    right:1rem;
    border:none;
    background-color:transparent;
}
.body .logIn .form .re-inp-password .hidden:hover{
    color:black;
    cursor: pointer;
}
.body .logIn .form .re-inp-password .figure-out{
    color:rgb(102,102,102);
    position: absolute;
    right:1rem;
    border:none;
    background-color:transparent;
}
.body .logIn .form .re-inp-password .figure-out:hover{
    color: black;
    cursor: pointer;
}
/*re-inp-password end*/
/* .forgot-pass{
    margin-left:10rem;
    margin-bottom: 1.5rem;
    margin-top:0.4rem;
}
.forgot-pass>a{
    text-decoration: none;
    color:rgb(179,179,179)
}
.forgot-pass>a:hover{
    color:black;
    cursor: pointer;
} */
.body .logIn .form > button{
    width:17rem;
    height: 2rem;
    border:none;
    background-color: rgb(66,133,244);
    color:white;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgb(179,179,179);
}
.body .logIn .form > button:hover{
    color:black;
    cursor: pointer;    
}
.body .signIn>a{
    text-decoration: none;
    color: black;
    margin:1rem;
    font-size:1.5rem;
}
.body .signIn>a:hover{
    color: rgb(66,133,244);
    cursor: pointer;
}
/* .body .signUp>a{
    text-decoration: none;
    color:black;
}
.body .signUp>a:hover{
    color: rgb(66,133,244);
    cursor: pointer;
} */
.footer{
    height: 25vh;
    width:100vw;
    background-color:wheat;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.footer .box{
    padding: 1rem 5rem;
    font-size: 1.5em;
}
.footer .form{
    padding :0 0 1rem;
}
.footer .form #inp {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: transparent;
}
.footer .form #inp:focus{
    outline: none;
}
.footer .form #btn{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style:groove;
    background-color: transparent;
}
.footer .form #btn:hover{
    cursor: pointer;
    color:white;
}
.footer .box .icon>a{
    color:rgb(179,179,179);
    text-decoration: none;
}
.footer .box .icon .fa-envelope:hover {
    color:black;
    cursor: pointer;
}
.footer .box .icon .fa-facebook-f:hover{
    color:black;
    cursor:pointer;
}
.footer .box .icon .fa-linkedin-in:hover{
    color:black;
    cursor:pointer;
}
.footer .box .icon .fa-discord:hover{
    color:black;
    cursor: pointer;
}