body {
    margin: 0;
    background-image: url("../img/pexels-tirachard-kumtanom-733857.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(10px);
}
/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    padding: 10px 10px;
    background-color: white;
    opacity: 90%;

}

/* Style the header links */
.header a {
    float: left;
    margin: 5px;
    color: black;
    text-align: center;
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 20px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.header a.active {
    /* background-color: rgb(134, 179, 250); */
    background-color: rgb(66, 133, 244);
    color: white;
}

.header a.active:hover {
    /* background-color: rgb(66, 133, 244); */
    background-color: #ddd;
    transition-duration: 300ms;
    color: black;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}
.body{
    width:100vw;
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.body .addQuestion{
    width: 90vw;
    height: 65vh;
    /* background-image: url(caroImage2.jpg); */
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.body .addQuestion .headerContent{
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}
.body .addQuestion .newQuestion{
    width: 49vw;
    height: 14vh;
    position: relative;
}
.body .addQuestion .newQuestion>textarea{
    resize: none;
    width: 45vw;
    height: 10vh;
    margin: 0.5rem;
    border:none;
    position: absolute;
}
.body .addQuestion .newQuestion>textarea:focus{
    outline:none;
}
.body .addQuestion .newQuestion>button{
    position: absolute;
    bottom: 0;
    border: none;
    background-color: transparent;
    right:0.5rem;
    margin-bottom: 0.7rem;
}
.body .addQuestion .newQuestion>button:hover{
    cursor: pointer;
    color:rgb(66,133,244);
}
.body .addQuestion .listQuestion{
    /* background-color: aqua; */
    width: 50vw;
    height: 46vh;
    overflow: auto;
    max-height: fit-content;
}
.body .addQuestion .listQuestion .question{
    background-color: white;
    margin:0.5rem;
}
.body .addQuestion .listQuestion .question .head>i{
    /* background-color: coral; */
    margin-left:0.5em;
    /* margin-top: 0.5em; */
    transform: scale(1.25);
}
.body .addQuestion .listQuestion .question .head>div{
    font-size:1.5rem;
    display: inline;
}
.body .addQuestion .listQuestion .question .content{
    display: flex;
    flex-direction: column;
}
.body .addQuestion .listQuestion .question .content .text{
    margin-right: 5rem;
    margin-left: 1rem;
}
.body .addQuestion .listQuestion .question .content .interact{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.body .addQuestion .listQuestion .question .content .interact>i{
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}
.body .addQuestion .listQuestion .question .content .interact>i:hover{
    cursor: pointer;
    color:white;
}
/* .footer{
    height: 25vh;
    width:100vw;
    background-color:wheat;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.footer .box{
    padding: 1rem 5rem;
    font-size: 1.5em;
}
.footer .form{
    padding :0 0 1rem;
}
.footer .form #inp {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: transparent;
}
.footer .form #inp:focus{
    outline: none;
}
.footer .form #btn{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style:groove;
    background-color: transparent;
}
.footer .form #btn:hover{
    cursor: pointer;
    color:white;
}
.footer .box .icon>a{
    color:rgb(179,179,179);
    text-decoration: none;
}
.footer .box .icon .fa-envelope:hover {
    color:black;
    cursor: pointer;
}
.footer .box .icon .fa-facebook-f:hover{
    color:black;
    cursor:pointer;
}
.footer .box .icon .fa-linkedin-in:hover{
    color:black;
    cursor:pointer;
}
.footer .box .icon .fa-discord:hover{
    color:black;
    cursor: pointer;
} */
.comments {
    background-color: white;
    padding:10px;
    width: 500px;
    margin: 15px 20px;
    height:auto;
    resize:none;
    border-radius: 10px;

}
.btn-comments{
    cursor:pointer;
}
.list-comments{display:none;}
.thumbs:hover{
    background-color:rgb(66, 133, 244);
    border-radius: 10%;
    transition: 200ms;
}